/* Start coding here */
* {
    margin: 0;
}

div {
    border: 16px solid lightgray;
    text-align: center;
    background-color: khaki;
}

.outer-box {
    border: 16px solid black;
}

.inner-box {
    border: 24px solid crimson;
}

h1 {
    height: 512px;
    margin: 30px 0;
    font-size: 72px;
}